################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/GeneralTests/bin/Debug
/GeneralTests/obj/x86/Debug
/obj
/TestResults
/_UpgradeReport_Files
